<mat-toolbar color="accent">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon  >menu</mat-icon>
        </button>
        <a mat-button [routerLink]="'/'" ><mat-icon mat-button matListIcon [routerLink]="'/'" >home</mat-icon></a>
        <a mat-button [routerLink]="'/'" ><mat-icon mat-button matListIcon [routerLink]="'/'" >restaurant</mat-icon></a>
        <a mat-button [routerLink]="'/'" ><mat-icon mat-button matListIcon [routerLink]="'/'" >contacts</mat-icon></a>
      </mat-toolbar-row>
</mat-toolbar>
