

<div class="center mr-0 justify-content-between fixed-bottom">
  <mat-toolbar color="accent">
    <mat-toolbar-row  >
        
        <a mat-button [routerLink]="'/'" ><mat-icon mat-button matListIcon [routerLink]="'/'" >home</mat-icon></a>
        <a mat-button [routerLink]="'/'" ><mat-icon mat-button matListIcon >restaurant</mat-icon></a>
        <a mat-button [routerLink]="'/'" ><mat-icon mat-button matListIcon >contacts</mat-icon></a>
        <mat-icon mat-button matListIcon  >copyright</mat-icon> <h5>2020 Subito GmbH</h5>
            
      </mat-toolbar-row>
</mat-toolbar>





</div>
